<!DOCTYPE html>
<html>
<head>
    <title>회원가입</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="center-container">
        <h3>회원가입</h3>
        <form id="registrationForm">
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="아이디" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="비밀번호" required>
            </div>
            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="이름" required>
            </div>
            <div class="form-group">
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="전화번호" required>
            </div>
            <div class="form-group">
                <input type="text" id="email" name="email" placeholder="email" required>
            </div>
            <div class="button-container">
                <button type="button" class="register-button" id="registerButton">회원가입</button>
                <button type="button" class="face-id-button" onclick="registerFaceID()">FACE ID 등록</button>
            </div>
        </form>
    </div>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-app.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        const firebaseConfig = {
          apiKey: "AIzaSyDzRHdEwHxUDuhpDbZixszDoewHE2hhmzc",
          authDomain: "login-83287.firebaseapp.com",
          databaseURL: "https://login-83287-default-rtdb.firebaseio.com",
          projectId: "login-83287",
          storageBucket: "login-83287.appspot.com",
          messagingSenderId: "698330843031",
          appId: "1:698330843031:web:bf7f20c19847beb9eca6d2"
        };
        
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        
        //비밀번호기반 계정 만들기
        import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-auth.js";
        
        //registerButton click
        document.getElementById('registerButton').addEventListener('click',(event)=>{
            event.preventDefault() //prevent Default
            const email = document.getElementById('username').value
            const password = document.getElementById('password').value
            
            const auth = getAuth();
            createUserWithEmailAndPassword(auth, email, password)
            .then((userCredential) => {
                // Signed in 
                console.log(userCredential)
                const user = userCredential.user;
                // ...
            })
            .catch((error) => {
                console.log('error')
                const errorCode = error.code;
                const errorMessage = error.message;
                // ..
            });
        }) 
      </script>
    
</body>
</html>
