<!DOCTYPE html>
<html>
<head>
    <title>사용자 정보</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>HomeCam & DoorLock</h1>
    <div class="home-form">
        <h3>사용자 정보</h3>
        <form id="home-button">
            <button type="button" class="home-button" id="Homecam-button"href="http://220.69.203.14:9097/?action=stream">HomeCam</button>
            <button type="button" class="home-button" id="Doorlock-button"href="http://220.69.203.14:9092/">DoorLock</button>
            <button type="button" class="home-button" id="user-button">User</button>
        </form>
    </div>
</body>
</html>
