<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="center-container">
        <h3>HomeCam & DoorLock</h3>
        <form id="loginForm">
            <div class="form-group">
                <input type="text" id="Inusername" name="username" placeholder="아이디" required>
            </div>
            <div class="form-group">
                <input type="password" id="Inpassword" name="password" placeholder="비밀번호" required>
            </div>
            <div class="button-container">
                <button type="button" class="login-button" id="loginbutton">로그인</button>
                <br>
                <button type="button" class="register-button" onclick="location.href='/register';">회원가입</button>
            </div>
        </form>
    </div>

    <!-- Include the Firebase JavaScript SDK as a module -->
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-app.js";
        import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-auth.js";
        
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyDpXmvo_nceTWz8YZh2wVWQjVHsaxmu6wc",
            authDomain: "fir-storage-ea381.firebaseapp.com",
            projectId: "fir-storage-ea381",
            storageBucket: "fir-storage-ea381.appspot.com",
            messagingSenderId: "1065706594226",
            appId: "1:1065706594226:web:1e5f0738e12cc735fbceab"
        };
        
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const auth = getAuth(app);

        // 로그인 버튼 클릭 시
        document.getElementById("loginbutton").addEventListener("click", function() {
            const username = document.getElementById("Inusername").value;
            const password = document.getElementById("Inpassword").value;

            // Firebase Authentication을 사용하여 로그인 시도
            signInWithEmailAndPassword(auth, username, password)
                .then((userCredential) => {
                    // 로그인 성공 시 동작
                    const user = userCredential.user;
                    alert("로그인에 성공했습니다.");
                    // 원하는 페이지로 리디렉션
                    window.location.href = '/choice';
                })
                .catch((error) => {
                    // 로그인 실패 시 에러 메시지 출력
                    const errorCode = error.code;
                    const errorMessage = error.message;
                    alert("로그인 실패: " + errorMessage);
                });
        });
    </script>
</body>
</html>
